.App {
  text-align: center;

  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .abt{
    padding-top: 15rem;
    padding-left: 80rem;
  }
  .form2{
    padding-left: 6rem;
  
  }
  .socm{
    padding-left: 44rem;
  
  }
  

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}












@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.form2:hover span{
  transition: 1s;
  color: red;
  text-shadow: 0 0 10px  red,
               0 0 20px  red,
               0 0 120px red,
               0 0 160px red;

}



 
.form2{
  @apply mt-2 text-5xl font-extrabold leading-[1.15] 
  bg-gradient-to-r from-amber-600 via-orange-500 to-yellow-100 bg-clip-text text-transparent
   text-center;
     width: 75vw;
     font-size: 2rem;
     line-height: 2rem;
     padding-left: 30px;
}



.orange_gradient {
  @apply bg-gradient-to-r from-amber-100 via-orange-400 to-yellow-300 bg-clip-text text-transparent;
}


.blue_gradient {
  @apply font-black bg-gradient-to-r from-blue-700 to-cyan-400 bg-clip-text text-transparent;
}



.abtm{
  padding-top: 1rem;
}

.abt{
  padding-top: 15rem;
  padding-left: 30rem;
}

.form{
  padding-left: 35rem;
}
.form2{
  padding-left: 40rem;

}
.socm{
  padding-left: 38rem;

}


@media screen and (max-width: 1000px) {

.form{

  padding-left: 7.5rem;
}
  .form2{
    padding-left: 11.5rem;
  
  }
  .socm{
padding-left: 10rem;
}
.abtm{
  padding-top: 5rem;
}

  
}